<header *ngIf="personal[0]">
    <div class="card mat-card" id="first-card">
      <div id="profile-background"><img id="info-back-img"
          [src]="personal[0].backImage">
      </div>
      <div id="info" style="padding: 16px">
        <div id="info-img">
          <img id="info-user-img" class="profile-image"
            [src]="personal[0].image">
          <div class="btn-edit"><a  class="btn-right"><i class="fa fa-pen"
                (click)="showEditProfileModal()"></i></a>
          </div>
        </div>
        <div id="info-data">
          <div>
            <h1 id="info-name"> {{personal[0].name}} </h1>
            <div><span id="info-position">{{ personal[0].position }}</span> en <span id="info-company">{{ personal[0].company.name }}</span></div>
            <div id="info-contact">
              <span id="info-ubication">{{personal[0].ubication}} </span>
              <span><a href="#">Información de contacto</a></span>
            </div>
          </div>
          <ul id="info-details">
            <li><a href="#">
                <img id="info-company-img"
                  [src]="personal[0].company.img">
                <h2 id="info-company-name">{{personal[0].company.name}}</h2>
              </a></li>
            <li><a href="#">
                <img id="info-school-img" [src]="personal[0].school.img">
                <h2 id="info-school-name">{{ personal[0].school.name }}</h2>
              </a></li>
          </ul>
        </div>
        <div id="info-actions">
          <button type="button" class="btn btn-primary">Tengo interés en</button>
          <button type="button" class="btn btn-light">Añadir Sección</button>
          <button type="button" class="btn btn-light">Más</button>
        </div>
      </div>
    </div>

  </header>